.Details {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
}

.Details--loading {
  padding-bottom: 0 !important;
}

.Details__Progress {
  border-radius: 0 !important;
}
